@media (min-width: 320px) and (max-width: 979px) {

    .hamburguer {
        display: flex;
    }

    .fechar {
        display: block;
    }

    .itens-nav-div ul {
        display: none;
    }

    .logo {
        height: auto;
        width: 58%;
    }

    .sidebar__link.active {
        display: flex;
    }

    .navbar-includeGen {
        display: flex;
        justify-content: space-between;
    }	

    .img-sair img {
    display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .hamburguer {
        display: flex; /* Exibe o hamburguer em telas pequenas */
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .includeGen-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .texto-pesquisa {
        width: 6rem;
    }

    #titulo {
        width: 26vw;
        height: 8.6vw;
    }

    #descricao {
        width: 20vw;
        height: 49px;
    }

    .btn-criar {
        width: 26vw;
    }
}