body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#navbar {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    z-index: 1000;
}

.navbar-includeGen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.itens-nav-div ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.itens-nav-div ul li {
    margin: 0 15px;
}

.itens-nav-div ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.itens-nav-div ul li a:hover {
    color: #ddd;
}

.right-nav-div img,
.left-nav-div img {
    border-radius: 50%;
    height: 50px;
}

.right-nav-div {
    display: flex;
    gap: 1rem;
}

.hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburguer span {
    width: 1.8rem;
    height: 0.2rem;
    background: #FFD700;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: solid 3px #FFD700;
    transition: right 0.3s ease;
    z-index: 999;
}

.sidebarlink {
    display: block;
    padding: 20px;
    color: black;
    border-bottom: solid 1px black;
    text-decoration: none;
}

.fechar {
    border: none;
    color: black;
    padding: 10px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.img-sair img {
    width: 2.5vw;
}

.a-ft {
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

.noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.noticias>div {
    width: calc(70.33% - 20px);
    margin: 10px;
    border: 1px solid #00000036;
    border-radius: 29px;    
    padding: 30px;
    position: relative;
}


.noticias h4,
.noticias p {
    text-align: left;
    margin: 0;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.pergunta .descricao p {
    width: 600px;
}

h4 {
    width: 500px;
}

h6 {
    color: #6f6f6f;
}

.titulo-pergunta {
    color: #000000;
    font-weight: bold;
}

.pergunta img {
    width: 20px;
    height: auto;
}


.elements-csv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.numero-elementos {
    color: #8f8f8f !important;
}



.ultima-mensagem {
    color: #8f8f8f !important;

}

#footer-div {
    background-color: #111111;
    color: white;
    padding: 20px;
}

.includeGen-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {
    display: flex;
    align-items: center;
}

.img-footer-logo {
    margin-right: 10px;
}

.right-footer {
    display: flex;
    align-items: center;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links a {
    margin: 0 5px;
}

.contact-links p {
    margin-left: 10px;
    font-size: 14px;
}

.contact-links img {
    max-width: 32px;
}

.cont-2,
.cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}

form {
    padding: 22px;
    color: white;
    font-size: 1.2rem;
    flex-direction: column;

}


textarea {
    resize: none;
    padding: 10px;
    border: none;
    outline: 0;
}

#titulo {
    width: 36vw;
    height: 2.3vw;
    font-size: 26px;
    font-family: Nunito Sans;
}

#descricao {
    width: 36vw;
    height: auto;
    font-family: inter;
    font-size: 17px;
}

.prencher {
    margin: 17px;
}

.criar-pergunta {
    width: 58vw;
    height: 20vw;
    border: 1px solid #00000036;
    border-radius: 29px;
}

.btn-criar {
    width: 16vw;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #6DFB5C;
    border: none;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}


.btn-crud, .btn-crud2 {
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.btn-crud {
    background-color: lime;
}

.btn-crud2 {
    background-color: red;
    margin-left: 10px;
}

.btn-div-crud {
    display: flex;
}