body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#navbar {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    z-index: 1000;
}

.navbar-includeGen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.itens-nav-div ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.itens-nav-div ul li {
    margin: 0 15px;
}

.itens-nav-div ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.itens-nav-div ul li a:hover {
    color: #ddd;
}

.right-nav-div img,
.left-nav-div img {
    border-radius: 50%;
    height: 50px;
}

.right-nav-div {
    display: flex;
    gap: 1rem;
}

.hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .hamburguer span {
    width: 1.8rem;
    height: 0.2rem;
    margin: 2px;
    background: #FFD700;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}
  
  #sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: solid 3px #FFD700;
    transition: right 0.3s ease;
    z-index: 999;
  }
  
  .sidebarlink {
    display: block;
    padding: 20px;
    color: black;
    border-bottom: solid 1px black;
    text-decoration: none;
  }

.fechar {
    border: none;
    color: black;
    padding: 10px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.img-sair img {
    width: 2.5vw;
}

.a-ft {
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

.noticias {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10vw;
}

.noticias>div {
    width: calc(70.33% - 20px);
    margin: 10px;
    border: 1px solid #00000036;
    border-radius: 29px;    
    padding: 30px;
    position: relative;
}


.noticias h4,
.noticias p {
    text-align: left;
    margin: 0;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.pergunta .descricao p {
    width: 600px;
}

h4 {
    width: 500px;
}

h6 {
    color: #6f6f6f;
}

.titulo-pergunta {
    color: #000000;
    font-weight: bold;
}

.pergunta img {
    width: 20px;
    height: auto;
}


.elements-csv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.numero-elementos {
    color: #8f8f8f !important;
}



.ultima-mensagem {
    color: #8f8f8f !important;

}

#footer-div {
    margin-top: 23.1%;
    background-color: #111111;
    color: white;
    padding: 20px;
}

.includeGen-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left-footer {
    display: flex;
    align-items: center;
}

.img-footer-logo {
    margin-right: 10px;
}

.right-footer {
    display: flex;
    align-items: center;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links a {
    margin: 0 5px;
}

.contact-links p {
    margin-left: 10px;
    font-size: 14px;
}

.contact-links img {
    max-width: 32px;
}

.cont-2,
.cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}

form {
    width: calc(70.33% - 20px);
    margin: 10px;
    border: 1px solid #00000036;
    border-radius: 29px;
    padding: 30px;
    position: relative;
}


textarea {
    resize: none;
    padding: 10px;
    border: none;
    outline: 0;
}

#titulo {
    width: 28vw;
    height: 3.6vw;
    font-size: 26px;
    font-family: Nunito Sans;
}

#descricao {
    width: 28vw;
    height: 48px;
    font-family: inter;
    font-size: 17px;
}

.prencher {
    margin: 17px;
}

.btn-criar {
    width: 16vw;
    padding: 10px;
    border-radius: 21px;
    background-color: #000000;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    color: white;
    margin: 16px;
    font-family: "Nunito Sans", sans-serif;
}


.btn-crud, .btn-crud2 {
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.btn-crud {
    background-color: lime;
}

.btn-crud2 {
    background-color: red;
    margin-left: 10px;
}

.btn-div-crud {
    display: flex;
}


/* Fórum */
#forum-content {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.search-category-section {
    width: 20%;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    color: white;
    background-color: #FFC62C;
    border: none;
}

.search-bar ::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 600;
}


.category-section ul {
    list-style: none;
    padding: 0;
}

.category-section ul li {
    margin: 10px 0;
}

.category-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.forum-post-section {
    width: 75%;
}

.new-post {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.new-post input, .new-post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tag-buttons span {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.publish-btn {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post h4 {
    margin: 0 0 10px 0;
}

.post-tags span {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-info span {
    color: #888;
    font-size: 14px;
}


.main-content {
    width: 94vw;
}

.criar-pergunta {
    height: auto;
    width: 41vw;
}

.texto-pesquisa {
    width: 20rem;
    font-size: 16px;
    color: #000000a3;
    margin-bottom: 10px;
    font-weight: bold;
}