@media (min-width: 320px) and (max-width: 979px) {

    .hamburguer {
        display: flex;
    }

    .fechar {
        display: block;
    }

    .nav-links li {
        display: none;
    }

    .logo {
        height: auto;
        width: 58%;
    }

    .sidebar__link.active {
        display: flex;
    }

    .navbar-includeGen {
        display: flex;
        justify-content: space-between;
    }

    #categoria-missao {
        flex-direction: column;
    }

    .mission {
        width: 90%;
    }

    .missao-img {
        min-width: 60%;
        max-width: 10vw;
    }

    .feature-boxes {
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .includeGen-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero {
        width: 100%;
        display: block;
    }

    .hero-image {
        display: none;
    }

}