body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#navbar {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    z-index: 1000;
}

.navbar-includeGen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.itens-nav-div ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.itens-nav-div ul li {
    margin: 0 15px;
}

.itens-nav-div ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.itens-nav-div ul li a:hover {
    color: #ddd;
}

.right-nav-div img,
.left-nav-div img {
    border-radius: 50%;
    height: 50px;
}

.right-nav-div {
    display: flex;
    gap: 1rem;
}

.hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburguer span {
    width: 1.8rem;
    height: 0.2rem;
    background: #FFD700;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: solid 3px #FFD700;
    transition: right 0.3s ease;
    z-index: 999;
}

.sidebarlink {
    display: block;
    padding: 20px;
    color: black;
    border-bottom: solid 1px black;
    text-decoration: none;
}

.fechar {
    border: none;
    color: black;
    padding: 10px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.img-sair img {
    width: 2.5vw;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

.section {
    font-size: 20px;
}

.iframe {
    margin: 20px 0px 0px 280px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: center;
}



.inss {
    width: 200px;
    margin-left: 80px;
}

li {
    margin-bottom: 20px;
}

span {
    font-weight: 600;
}
.tituloTabela {
background-color:#ffc62c;
}

.step-by-step {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.step {
    flex-basis: 48%;
    margin-left: 70px;
}

#footer-div {
    background-color: #111111;
    color: white;
    padding: 20px;
}

.includeGen-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {
    display: flex;
    align-items: center;
}

.img-footer-logo {
    margin-right: 10px;
}

.right-footer {
    display: flex;
    align-items: center;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links a {
    margin: 0 5px;
}

.contact-links p {
    margin-left: 10px;
    font-size: 14px;
}

.contact-links img {
    width: 32px;
}