@media (min-width: 320px) and (max-width: 979px) {

    .hamburguer {
        display: flex;
    }

    .fechar {
        display: block;
    }

    .itens-nav-div ul {
        display: none;
    }

    .logo {
        height: auto;
        width: 58%;
    }

    .sidebar__link.active {
        display: flex;
    }

    .navbar-includeGen {
        display: flex;
        justify-content: space-between;
    }	

    .img-sair img {
        display: none;
        }
}

@media (min-width: 320px) and (max-width: 480px) {

    .includeGen-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .step {
         margin-left: 0px;
    }

    .inss {
        margin-left: 0px;
    }

    .step-by-step {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: column;
    }

    th, td {
        padding: 3px;
        text-align: center;
    }

    a.ytp-title-link.yt-uix-sessionlink {
        width: 15rem;
    }

    .iframe {
        margin: 0;
        width: 100%;
    }

    .ytp-cued-thumbnail-overlay-image {
        width: 151%;
        height: 100%;
    }

    .ytp-large-play-button {
        left: 27%;
    }
}