body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.profile-box-1 {
    position: relative;
    margin: 1%;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    border-radius: 10px;
    align-items: center;
}

.goBack-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    top: 10px;
    left: 10px;
    color: white;
    background-color: #111111;
    border: solid 1px black;
    border-radius: 5px;
}

.profile-box-2 {
    margin: 1%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #FFC62C;
    border-radius: 10px;
}

.profile-box-2 h2 {
    margin: 15px;
}

.container-info {
    margin: 5px 10px;
    width: 96%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
}

.info-text {
    padding: 20px;
    background-color: #d6d6d6;
    border-radius: 10px;
}

.picture-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-profile form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-profile img {
    position: relative;
    border-radius: 50%;
    width: 400px; 
    height: 400px;
    object-fit: cover;
    background-color: #bcbcbc;
    margin: 20px;
}

.hover-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

label:hover .hover-icon {
    opacity: 1;
}

.picture-profile p {
    font-size: 20px;
}

.picture-profile a {
    background-color: #111111;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.goBack-link:hover, .picture-profile a:hover {
    background-color: white;
    color: black;
    transition: .2s;
}

@media (max-width: 1100px) {
    body {
        flex-direction: column;
    }

    .profile-box-1 {
        width: 98%;
    }

    .profile-box-2 {
        width: 98%;
    }
}