body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#sign-square {
    display: flex;
    width: 70%;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sign-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#sign-right {
    width: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm {
    width: 100%;
    max-width: 400px;
}

#form-id {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#reset-password{
    display: flex;
    width: 70%;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}